body {
  background-color: #0b132b;
}
$colors: #ffffff;
.sphere {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 300px;
  width: 300px;
  animation: rotateSphere 4s linear infinite;
  transform-style: preserve-3d;
  .plane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    list-style-type: none;
    transform-style: preserve-3d;
    li {
      position: absolute;
      height: 50%;
      width: 0;
      left: 0;
      right: 0;
      margin: auto;
      transform-origin: bottom;
      box-sizing: border-box;
      transform-style: preserve-3d;
      &::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        display: inline-block;
        top: 0;
        left: 0;
        transform: translateX(-50%) rotateX(90deg);
        border-radius: 50px;
        background-color: $colors;
      }
    }
    @for $i from 1 through 18 {
      li:nth-child(#{$i}) {
        transform: rotate(#{$i * 10}deg);
      }
    }
  }
  @for $j from 1 through 36 {
    .plane:nth-child(#{$j}) {
      transform: rotateY(#{$j * 10}deg);
    }
  }
}

@keyframes rotateSphere {
  0% {
    transform: rotate3d(1, 1, 1, -360deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 360deg);
  }
}
